<!DOCTYPE html>
<html>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        //connect to the web socket
        var socket = io.connect('{{server_url}}');

        //every time data is received, update the values
        socket.on('data', function (data) {
            document.getElementById("button-state").textContent=data.buttonPushed;
            document.getElementById("knob-state").textContent=data.knob;
        });
    </script>
    <div><h3>button</h3><span id="button-state"></span></div>
    <div><h3>knob</h3><span id="knob-state"></span></h3></div>
</html>